<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>Adicionar Novo Produto</h1>
                <form method="post">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="category_name">Categoria: </label>
                                <input type="text" id="category_name" class="form-control" name="category_name">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Nome: </label>
                                <input type="text" id="product_name" class="form-control" name="product_name">
                            </div>
                            <div class="form-group">
                                <label for="product_price">Preço: </label>
                                <input type="text" id="product_price" class="form-control" name="product_price">
                            </div>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
